
 .none{
    display: none;
 }
 

.info {
    background-color: #131313;
    width: 100vw;
    height: 1075px;
}

@media screen and (max-width: 767px) {
    .info {
        height: auto;
    }
}

.info__conteiner {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .info__conteiner {
        display: block;
    }
}

.info__content {
    padding-top: 176px;
    padding-left: 40px;
}

@media screen and (max-width:1299px) {
    .info__content {
        padding-top: 176px;
        padding-left: 0;

    }
}

@media screen and (max-width:1023px) {
    .info__content {
        padding-top: 110px;
        padding-left: 0;

    }
}

@media screen and (max-width: 767px) {
    .info__content {
        padding-top: 40px;
        padding-left: 0;

    }
}

@media screen and (max-width: 767px) {
    .info__content-title {
        margin: 0 auto;

    }
}

.info__title {
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

@media screen and (max-width: 767px) {
    .info__title {
        text-align: center;
        font-size: 22px;
        line-height: 138.6%;
    }
}

.info__content-subtitle {
    max-width: 442px;
    margin: 30px 0 40px;
}

@media screen and (max-width: 767px) {
    .info__content-subtitle {
        margin: 0 auto;

    }
}

.info__subtitle {
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

@media screen and (max-width: 767px) {
    .info__subtitle {
        text-align: center;
        height: 86px;
        margin: 22px 0 36px;
        font-size: 11px;
        line-height: 158.48%;
    }
}

.info__img-mobile {
    display: none;
}

@media screen and (max-width: 767px) {
    .info__img-mobile {
        display: block;
        margin-bottom: 36px;
        position: relative;
        
    }
}

@media screen and (max-width: 767px) {
    .info__slayder {
        width: 100%;
        display: flex;
        justify-content: space-between;
        bottom: 50%;
        position: absolute;
        padding: 0 14px;
    }
}

@media screen and (max-width: 767px) {
    .info__slayder-left {
        transform: rotate(180deg);
    }
}

@media screen and (max-width: 767px) {
    .info__image-mobile {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .info__img-content {
        display: none;
    }
}

.info__item {
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

@media screen and (max-width: 767px) {
    .info__item {
        font-size: 14px;
        line-height: 19px;
    }
}

.info__text {
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.info__menu {
    margin-top: 107px;
    margin-bottom: 52px;
}

@media screen and (max-width: 767px) {
    .info__list {
        display: none;
    }
}

.info__link {
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
    transition: color .2s linear;
    padding-bottom: 6px;
}

@media screen and (max-width: 1023px) {
    .info__link {
        font-size: 10px;
    }
}

.activ {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
}

.info__link:hover {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;

}

.info__link+.info__link {
    margin-left: 60px;
}

@media screen and (max-width: 1300px) {
    .info__link+.info__link {
        margin-left: 20px;
    }
}

.info__blok-top {
    display: flex;
    margin-bottom: 34px;
}

.info__blok {
    display: flex;
}

.info__items {
    width: 50%;
}

.info__nav-vector {
    display: flex;
    justify-content: space-between;
    max-width: 205px;
    margin-top: 85px;
}

@media screen and (max-width: 767px) {
    .info__nav-vector {
        display: none;

    }
}


.info__vector-sides {
    width: 40px;
    height: 13px;

}

.info__dots {
    display: flex;

    align-items: center;
}

.info__dot {
    margin: 0 9px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: background-color 0.15s;
}

.info__dot:hover {
    background-color: #FFFFFF;
}

.info__dot-activ {
    background-color: #FFFFFF;
}
.slider{
    max-width: 680Px;
   position: relative;
    overflow: hidden;
    position: relative;
}
.info__slider-img{
    display: flex;
   transition: all 1s;
}